*.iml
.gradle/
_windows
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
local.properties
.idea/workspace.xml
color.scheme.xml
debugger.xml
editor.xml
github_settings.xml
notification.xml
ui.lnf.xml
vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild